p{ font-size: 20px;
}

.content {
    padding-top: 5%;
    background: linear-gradient(to bottom, #0066cc 0%, #ccffff 100%);
    font-weight: bold;
    height: 80vh;
    color: black;
    font-family: cursive;
}

.content.inactive {
    display: none;
}
.container-fluid {
    height: 100vh;
    margin: 0;
    padding: 0;
    min-width: 1280px;
    min-height: 768px; 
}

.first{
  text-indent: 30px;
  
}

 .second{
     text-indent:20px;
  p{
    ul{
    font-style: italic;
  
   }
  } 
 }

 .last{
    text-indent:30px;
    h{
       font-size: 25px;
    }

     p{
       font-style: italic;  
     }     
}
@media screen AND (max-width: 1280px) { 
    p{
        font-size: 15px;
    }
     .last{
         h{
       font-size: 17px;
           }
     }
}
