p{ font-size: 20px;
}

.content {
    padding-top: 10%;
    background-color: peachpuff;
    font-weight: bold;
    font-family: "Times New Roman", times , serif;
    height: 80vh;
}

.content.inactive {
    display: none;
}

.content.inactive {
    display: none;
}

.first{
  text-indent: 30px;
  
}

 .second{
     text-indent:20px;
  p{
    ul{
    font-style: italic;
  
   }
  } 
 }

 .last{
    text-indent:30px;
    h{
       font-size: 30px;
    }

     p{
       font-style: italic;  
     }     
}
