@import "../../../style/colors.scss";

.meniu {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $menu-gray;
}
.bar {
    display: block;
    width: 10%;
    text-align: center;
    color: white;
}

.LR {
    display: block;
    width: 10%;
    text-align: center;
}