.footer{
    widows: 100%;
    background-color:grey; 
    padding: 15px 0px;

    p{
        color: white;
        padding-left: 10px;
    }

        
}
.letter{
    font-size: 20px;

}
.contact{
    font-size: 20px;
    .p{
        font-size: auto;
    }
}
.retele{
    font-size: 20px;
}
.support{
    font-size: 20px;
}

.media-btn {
    background-color: transparent;
    margin: none;
    border: none;
    margin-top: 10px;
    padding: 0px 25px;

    .media-img {
        width: 30px;
        height: 30px;
    }
}

.social-media {
    text-align: center;
}

.copyright {
    font-size: 17px;
    font-style: italic;
    color: white;
    width: 100%;
    padding-left: 10%;
}

.info {
    color:white;
    padding-left: 10%;
}