*:focus {
  outline: none;
}

.header-div {
  width: 100%;
  height: 35%;
  text-align: center;
}

.logo {
  width: 50%;
  height: 80%;
}

.meniu{
background-color: yellowgreen;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
position: relative;
top: 20%;
width: 100%;
display: flex;
}

.bar{
background-color: transparent;
display:inline-block;
text-align: center;
border: none;
outline: none;
width:9%;

   a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    }
    a:hover {
      background-color: rgba(0, 128, 49, 0.548);
      text-decoration: none;}
    a:active {
      background-color: rgba(0, 128, 49, 0.548);}
      text-decoration: none;   
    }



.search{
  display: flex;
  background-color: white;
  height: 30px;
  border: solid 1px gray;

  .search-btn{
   height:100%;
   border: none;
   background-color: transparent;
   margin: 0px;
   border: 0px;
  } 

  input {
    border: none;
  }
}

.flag-btn {
    background-color: transparent;
    margin: 0px;
    border: 0px;
    display: flex;

    .flag-img {
      height: 20px;
      width: 30px;
    }
}

.flag-btn:focus {
  outline: none;
}

.LR{
 background-color: transparent;
 text-align: center;
 border: none;
 width: 100%;
 outline: none;
 
 width: 9%;
  a{color: white;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size : 20px;
   }
   a:hover {
    background-color: rgba(0, 133, 44, 0.486); 
    text-decoration: none;
   }
   a:active {
    background-color: rgba(0, 133, 44, 0.486); 
    text-decoration: none;
   } 

  
}


