*:focus {
  outline: none;
}


.meniu{
  background-color: steelblue ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  height: 10%;
  position: fixed;
}

.bar{
background-color: transparent;
display:inline-block;
text-align: center;
border: none;
outline: none;
width:16%;
font-family: cursive;

   a{
    color:black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    }
    a:link{
      color:black;
    }
    a:hover {
      text-decoration: none;
      color: white;
    }
    a:visited {
      
      text-decoration: underline;
    } 
    a:active{
      color: red;
      text-decoration: none; 
    }  
  }

.meniu2{
display:block;
}

.search{
  display: flex;
  background-color: white;
  height: 30px;
  border: solid 1px gray;
  margin-top: 0.5%;
  border-radius:30px;

  .search-btn{
   height:100%;
   border:none;
   background-color: transparent;
   margin: 0px;
  } 

  input {
    border:none;
    border-radius:30px;
  } 
  
}

.home-btn {
  height: 50px;
  width: 150px;
  content: url(assets/logo2.png);
}

.right-side {
  display: block;
  width: 28%;
  padding-top: 1%;
  border-radius: 30px;
  margin-top: 20px;
}

.settings-bar {
  display: flex;
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
}

.pages {
  display: flex;
  width: 60%;
}

.flags {
  margin-top: 5%;
  display: flex;
  float: right;

  .flag-btn {
      background-color: transparent;
      margin: 0px;
      border: 0px;
      display: flex;

      .flag-img {
        height: 15px;
        width: 20px;
      }
  }
}

.flag-btn:focus {
  outline: none;
}

.LR{
 background-color: transparent;
 text-align: center;
 border: none;
 width: 27%;
 outline: none;
 font-family: cursive;
 
  a{color:black;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size : 17px;
   }
   a:link{
    color:black;
     }
   a:hover {
    color: white;
    text-decoration: none;
   }
   a:active {
    color: red;
    text-decoration: none;
   } 
}

@media screen AND (max-width: 1280px) { 
  .LR{
    a{
      font-size: 15px;
    }
  }
 .pages{
   a{
     font-size: 15px;
   }
 } 
 .home-btn{
   width: 80px;
   height: 20px;
 }
 .right-side{
   width: 15px;
 
 .search{
   width: 10px;
   height: 10px;
 }
}
.flags {
  margin-top: 5%;
  display: flex;
  float: right;

  .flag-btn {
      background-color: transparent;
      margin: 0px;
      border: 0px;
      display: flex;

      .flag-img {
        height: 10px;
        width: 15px;
      }
  }
}
}


