.h {
    font-size: 20px;
}    

.list{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.content {
    padding-top: 10%;
    overflow: auto;
    font-family: cursive;
    height: 80vh;
    font-size: 40px;
}


.project1{       
    display: inline-block;
    float:left;
    max-width: 50%;
    
    
    h1{
        font-size:50px;
        color: lemonchiffon;
        text-shadow: 2px 2px #191970;
        width: 500px;
        padding: 10px;
        margin: 0;
        padding-top: 30px;
    }
    p{ text-indent: 30px;
        .a{
            color: currentColor;
            text-decoration: underline;
        }
    }
    h2{ font-family: cursive;
        font-size: 30px;}
    ul{
        font-size: 20px;
        font-style: italic;
    }
}

.project2{
    display: inline-block;
    max-width: 50%;
        h1{
            font-size:50px;
            color: lemonchiffon;
            text-shadow: 2px 2px #191970;
            width: 800px;
            padding: 10px;
            margin: 0;
            padding-top: 30px;
            padding-left: 10px;
        }
        p{ text-indent: 30px;
            .a{
                color: currentColor;
                text-decoration: underline;
            }
        }
        h2{
            font-size: 30px;
            font-family: cursive;
        }
        ul{
            font-size: 20px;
            font-style: italic;
        }
}

.project3{
    display: inline-block;
    max-width: 50%;
        h1{
            font-size:50px;
            color: lemonchiffon;
            text-shadow: 2px 2px #191970;
            width: 500px;
            padding: 10px;
            margin: 0;
            padding-top: 30px;
                        
        }
        p{ text-indent: 30px;
            font-size: 20px;
            
        }
        h2{
            font-size: 30px;
            font-family: cursive;
        }
        li{
            font-size: 20px;
            font-style: italic;
            text-indent: 20px;
        }
        ul{
            font-size: 20px;
            font-style: italic;
        }
        p1 {
            padding-top: 20px;
            font-size: 25px;
            padding-left: 25px;
            }
}

.linkclass{
  color: currentColor;
  text-decoration: underline;
}

.newproject{
    display: inline-block;
    max-width: 50%;
    h1{
        
    }
    
   
}


@media screen AND (max-width: 1280px) { 
    .list{
        font-size: 25px;
    }
    .project1{
        font-size: 15px;
        h1{
            font-size: 17px;
        }
        h2{
            font-size: 17px;
        }
 }
   .project2{
       font-size: 15px;
       h1{
        font-size: 17px;
    }
    h2{
        font-size: 17px;
    }
 }
   .project3{
     content{
    .list{
        font-size: 18px;
        }
      }
        p{
            font-size: 15px;
        }
    h1{
        font-size: 17px;
    }
    h2{
        font-size: 17px;
      }
    li{
        font-size: 15px;
    }
    p1{
        font-size: 15px;
    }
} 

}
