.register-popup {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    background-color: white;
    padding: 20px;

    .input-row {
        display: block;
    }
}

.register-popup.inactive {
    display: none;
}