.organizations{
     h{
    
    font-size:20px;
    color: white;
    text-shadow: 2px 2px #FF0000;
    
    }
    ul{
        font-size: 20px;
    }
}
.companies{
    h{
        font-size:20px;
        color: white;
        text-shadow: 2px 2px #FF0000;
        
    }
    ul{
        font-size: 20px;
    }

}
.volunteers{
    h{
        font-size:20px;
        color: white;
        text-shadow: 2px 2px #FF0000;
        
    }
    ul{
        font-size: 20px;
    }

}
@media screen AND (max-width: 1280px) { 
    .organizations{
        h{
            font-size: 17px;
        }
        ul{
            font-size: 15px;
        }
    }
    .companies{
        h{
            font-size: 17px;
        }
        ul{
            font-size: 15px;
        }
    }
    .volunteers{
        h{
            font-size: 17px;
        }
        ul{
            font-size: 15px;
        }
    }
}