.content{
   h1{
    font-size: 30px;
    font-family: cursive;
}
}
.contact-form {
    padding-top: 0%;
    height: 30%;
    display: inline-block;
    .input-row{
        .form-input{
            border-radius: 20px;
        }
        label{
            font-size:20px;
        }
         input{
             font-size: 20px;
         }
         textarea{
             font-size:20px;
         }
         .send{
            font-size: 20px;
        }
    }

}

.send{
    font-size: 20px;}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
}